.login {
    -fx-background-color: linear-gradient(to right, rgb(120, 2, 6), rgb(6, 17, 97));
}

.login-titulo {
    -fx-font-size: 24px;
    -fx-text-fill: #FFF;
}

.login-form-label {
    -fx-font-size: 16px;
    -fx-text-fill: #FFF
}

.login-form-botao {
    -fx-font-size: 16px;
}